/* Grid */
.tcbillboard-grid-row-disabled { font-style: italic; opacity: .6; color: #555; }
.x-grid3-col-actions { padding: 3px 0 3px 5px; }
/* Actions */
.action-red { color: darkred !important; }
.action-green { color: darkgreen !important; }
.action-blue { color: cadetblue !important; }
.action-yellow { color: goldenrod !important; }
.action-gray { color: dimgray !important; }
ul.tcbillboard-row-actions { margin: 0; padding: 0; list-style: none; position: relative; bottom: 5px; }
ul.tcbillboard-row-actions li { float: left; }
ul.tcbillboard-row-actions .btn { padding: 4px; margin-right: 2px; min-width: 26px; font-size: inherit; }
/* Action menu */
a.x-menu-item .x-menu-item-text, a.x-menu-item .x-menu-item-text .icon { cursor: pointer; }
a.x-menu-item .x-menu-item-text .icon { line-height: 16px; top: auto; }
.x-menu-list .icon { min-width: 1em; text-align: center; }
.x-menu-list-item:hover .icon { color: inherit !important; }
ul.tcbillboard-row-actions .actions-menu { width: 40px; }
ul.tcbillboard-row-actions .actions-menu:after { content: " \f107"; }
/* Search field */
.x-field-search-clear,
.x-field-search-go { border-left: 1px solid #e4e4e4 !important; }
.x-field-search-clear:hover,
.x-field-search-go:hover { border-left-color: transparent !important; }
.x-field-search-clear:before { content: '\f00d' !important; }
.x-field-search-go { right: 31px !important; border-radius: 0 !important; }
.x-field-search-go:before { content: '\f002' !important; }

.x-color-palette { width: 83%; height: auto; }
.x-btn-text-icon button { padding-left: 0 !important; }

#tcbillboard-grid-orders .x-grid3-cell-inner { padding: 9px 5px 1px 5px; }
.tcbillboard-notice { /*text-align: center;*/ }
.tcbilboard-notice-box { width: 70px; margin: 0 auto; font-size: 1.2em; color: #b72626; position: relative; bottom: 2px; }
.tcbilboard-notice-box span { padding: 5px; background-color: #ffffff;  border: 1px solid #cac6c6;  border-radius: 3px; }
.tcbillboard-notice-1 { background-color: #f5f7d6; }
.tcbillboard-notice-2 { background-color: #fbd5d5; }